*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color:rgb(253, 196, 173);
    color: white;
}
.logo{
    font-size: 30px;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;

}

.home,
.billing,
.refund,
.repair,
.rental,
.signin{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font: bolder;
    padding: 10px 20px;
    margin: 0,10px;
    cursor: pointer;
}
.signin{
    border: 1px solid white;
    border-radius: 4px;
}

.mobile-menu-icon{
    display: none;
}

@media screen and ( max-width: 780px){
    .logo{
        display: flex;
        position: absolute;
        top: 15px;
        left: 35px;
    }

    .nav-links{
        display: none;
    }
    .nav-links-mobile{
        position: absolute;
        display: block;
        list-style: none;
        background-color: rgb(253, 196, 173);
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 40%;
    }
    .home,
    .billing,
    .refund,
    .rental,
    .repair,
    .signin{
        color: white;
        text-align: center;
        padding: 32px;
        width: 60%;
        transition: all 0.5s ease;
    }
    .signin{
        border: none;
    }
    .mobile-menu-icon{
        display: block;
        position: absolute;
        font-size: 30px;
        color: white;
        background-color: rgb(253, 196, 173);
        border: none;
        outline: none;
        top: 15px;
        right: 25px;
    }
}
    
